/*BODY*/

body{  
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}



/*BODY HEADER*/

#body-header{
	height: 60vh;
	background-image: url("/home/ankita/Desktop/resume/background.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	padding-top: 1.2rem;
    /*opacity: 0.8;*/
}



/* HORIZONTAL LIST*/
.horizontal-list{
    margin: 0px;
    padding-left: 0px; 
	list-style: none;
}

.horizontal-list li{
	font-weight: 100;
	margin: 0px 8px 8px 0px;
	display: inline-block;
    font-size: 0.9rem;
}

.horizontal-list li a{
	color: white;
	text-decoration: none;
}

.text-center{
	text-align: center;
}

.nav-menu li a {
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover {
    color: lightgrey;
    border-bottom: 1px solid black;
}




/* NAME AND SOCIAL ICONS*/

#name-social-container {
    margin-top: 10vh;
}


#my-name{
	color: white;
	font-size: 3rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}


.social-icons li a i {
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
}

.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}




/*SECTION*/
section{
	display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n) {
    background-color: #9e9b9b29;
}

section:nth-child(2n + 1) {
    background-color: white;
}

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span {
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
    text-transform: uppercase;
}


/*ABOUT*/

#about {
    height: auto;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

#my-image {
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: 10vh;
}


#my-image img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}


#about-para{
    padding: 10px;
	font-size: 1.1rem;
	text-align: justify;
	line-height: 28px;
	width: 70%;
    margin: auto;
	color: grey;
}



/*SKILLS SECTION*/
.skills-display{
    width: 75%;
    padding: 10px;
    margin-bottom: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}


.skill-progress {
    width: 11rem;
    height: 2.2rem;
    background-color: lightgrey;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    margin: 25px;
    overflow: hidden;
}

.skill-progress > div {
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}

.skill-name span {
    color: white;
    font-size: 1rem;
    margin-left: 10px;
    vertical-align: middle;
}


/*Experience Section*/

.timeline{
    position: relative;
    width: 75%;
    border: 2px solid black;
}


.timeline-box{
    position: relative;
    margin: 5px;
    width: 40%;
    left: 5%;
    min-height: 150px;
    border: 2px solid black; 
}

.timeline-box:nth-child(2n){
    left: 53%;
}
/*Contact Section*/
#contact {
    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    color: white;
    padding-bottom: 40px;

}

#contact h1 span {
    color: white;
}

#contact-container {
    display: flex;
}

#contact-form-container {
    width: 50%;
}

#contact-form {
    margin-left: 20%;
}



#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}

#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}



#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
}

.my-details-info-container span {
    margin-left: 0.4rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}



#contact .social-icons li a i {
    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}





/* Common Margin Classes */

.mb75px {
    margin-bottom: 75px;
}

.mb50px {
    margin-bottom: 50px;
}
